$breakpoints: (
   xs: 420,
   sm: 576,
   md: 768,
   lg: 992,
   xl: 1200,
   xxl: 1400,
);

$maxWidth: 1536;
$maxWidthContainer: 1200;

$selectionColor: rgba(40, 41, 43, 0.5);

:root {
   --main-color: #981ed1;
   --bright-main-color: #a730df;
   
   --hover: all 0.12s linear;
   --side-move: all 0.4s cubic-bezier(0.8, 0.84, 0.44, 1);

   --grey: #6e717e;
   --light-grey: #9da2b4;
   --green: #39df4f;
}