.wrapper {
   box-sizing: border-box;
   padding-bottom: 20px;
   min-height: 100vh;
   background:
      linear-gradient(to top left, rgba(205, 240, 224, 0.8),rgba(240, 167, 255, 0.2)),
      radial-gradient(rgba(205, 225, 240, 0.6),rgba(255, 185, 167, 0.4));
   background-attachment: fixed;
}