.body {
   position: fixed;
   width: 450px;
   height: 100vh;
   box-sizing: border-box;
   padding: 20px 30px;
   background: #fff;
   transition: var(--side-move);
   overflow-y: auto;
   padding-bottom: 70px; // height of button + padding

   top: 0;
   right: -100%;

   .buttons {
      bottom: 0;
      right: -100%;
   }

   &.opened,
   &.opened .buttons {
      right: 0;
      transition: var(--side-move);
   }
}

.heading {
   font-size: 30px;
}

.cross {
   position: absolute;
   display: flex;
   right: 13px;
   top: 23px;
   padding: 7px;
   border-radius: 50%;
   transition: var(--hover);

   @media (any-hover: hover) {
      &:hover {
         cursor: pointer;
         background: rgba(0, 0, 0, .1);
         transition: var(--hover);
      }
   }
}

.filterField {
   display: block;
   margin-top: 1.3rem;
   font-size: 20px;
   font-weight: 500;

   input:not(.filterCheckbox) {
      display: block;
      width: 100%;
      font-size: 18px;
      box-sizing: border-box;
      padding: 5px 10px;
      border: 1px solid var(--light-grey)
   }

   &.filterCheckbox {
      display: flex;
      align-items: center;
      gap: 10px;

      input {
         width: 25px;
         height: 25px;
      }
   }
}

.buttons {
   position: fixed;
   right: 0;
   bottom: 0;
   display: flex;
   width: 450px;
   height: 50px;
   transition: var(--hover);

   @media (any-hover: hover) {
      &:hover {
         background: var(--bright-main-color);
         transition: var(--hover);
      }
   }
}

.reset,
.apply {
   flex-grow: 1;
   font-size: 22px;
   transition: var(--hover);

   @media (any-hover: hover) {
      &:hover {
         transition: var(--hover);
      }
   }

   &.apply {
      background: var(--main-color);
      color: #fff;

      @media (any-hover: hover) {
         &:hover {
            background: var(--bright-main-color);
         }
      }
   }
   &.reset {
      background: #e1e1e1;

      @media (any-hover: hover) {
         &:hover {
            background: #d3d3d3;
         }
      }
   }

   
}